<?xml version='1.0' encoding='utf-8'?>
<filteringDatabases>
  <filteringDatabase id="c1">
    <static>
      <ports>
        <port id="0" name="c1-eth0" peerMacAddress="00-00-00-00-00-01" macAddress="00-00-00-00-00-00"/>
        <port id="1" name="c1-eth1" peerMacAddress="00-00-00-00-00-01" macAddress="00-00-00-00-00-00"/>
        <port id="2" name="c1-eth2" peerMacAddress="00-00-00-00-00-01" macAddress="00-00-00-00-00-00"/>
        <port id="3" name="c1-eth3" peerMacAddress="00-00-00-00-00-01" macAddress="00-00-00-00-00-00"/>
        <port id="4" name="c1-eth4" peerMacAddress="00-00-00-00-00-01" macAddress="00-00-00-00-00-00"/>
        <port id="5" name="c1-eth5" peerMacAddress="00-00-00-00-00-01" macAddress="00-00-00-00-00-00"/>
        <port id="6" name="c1-eth6" peerMacAddress="00-00-00-00-00-01" macAddress="00-00-00-00-00-00"/>
        <port id="7" name="c1-eth7" peerMacAddress="00-00-00-00-00-01" macAddress="00-00-00-00-00-00"/>
      </ports>
      <forward>
        <individualAddress port="0" macAddress="00-00-00-00-00-01"/>
        <multicastAddress ports="0 1 2 3 4 5 6 7" macAddress="01-00-5E-00-00-04"/>
        <multicastAddress ports="0 1 2 3 4 5 6 7" macAddress="01-00-5E-00-00-05"/>
        <multicastAddress ports="0 1 2 3 4 5 6 7" macAddress="01-00-5E-00-00-06"/>
      </forward>
    </static>
  </filteringDatabase>

  <filteringDatabase id="host1">
    <static>
      <ports>
        <port id="0" name="h1-eth0" peerMacAddress="00-00-00-00-00-01" macAddress="00-00-00-00-00-00"/>
      </ports>
      <forward>
        <individualAddress port="0" macAddress="00-00-00-00-00-00"/>
        <multicastAddress ports="0" macAddress="01-00-5E-00-00-04"/>
      </forward>
    </static>
  </filteringDatabase>

  <filteringDatabase id="host2">
    <static>
      <ports>
        <port id="0" name="h2-eth0" peerMacAddress="0e:13:5a:30:f1:dc" macAddress="00-00-00-00-00-00"/>
      </ports>
      <forward>
        <individualAddress port="0" macAddress="00-00-00-00-00-00"/>
        <multicastAddress ports="0" macAddress="01-00-5E-00-00-05"/>
      </forward>
    </static>
  </filteringDatabase>

  <filteringDatabase id="host3">
    <static>
      <ports>
        <port id="0" name="h3-eth0" peerMacAddress="32:cb:77:b2:4b:9a" macAddress="00-00-00-00-00-00"/>
      </ports>
      <forward>
        <individualAddress port="0" macAddress="00-00-00-00-00-01"/>
        <multicastAddress ports="0" macAddress="01-00-5E-00-00-06"/>
      </forward>
    </static>
  </filteringDatabase>

  <filteringDatabase id="host4">
    <static>
      <ports>
        <port id="0" name="h4-eth0" peerMacAddress="1a:ef:ae:70:7c:2d" macAddress="00-00-00-00-00-05"/>
      </ports>
      <forward>
        <individualAddress port="0" macAddress="00-00-00-00-00-01"/>
        <multicastAddress ports="0" macAddress="01-00-5E-00-00-06"/>
      </forward>
    </static>
  </filteringDatabase>

  <filteringDatabase id="switch1">
    <static>
      <ports>
        <port id="0" name="s1-eth0" peerMacAddress="00-00-00-00-00-05"/>
        <port id="1" name="s1-eth1" peerMacAddress="00-00-00-00-00-02"/>
        <port id="2" name="s1-eth2" peerMacAddress="00-00-00-00-00-04"/>
      </ports>
      <forward>
        <individualAddress port="1" macAddress="00-00-00-00-00-01"/>
        <multicastAddress ports="1 2" macAddress="01-00-5E-00-00-04"/>
        <multicastAddress ports="1 2" macAddress="01-00-5E-00-00-05"/>
        <multicastAddress ports="0" macAddress="01-00-5E-00-00-06"/>
      </forward>
    </static>
  </filteringDatabase>

  <filteringDatabase id="switch2">
    <static>
      <ports>
        <port id="0" name="s2-eth0" peerMacAddress="4a:cb:0f:29:10:9b"/>
        <port id="1" name="s2-eth1" peerMacAddress="00-00-00-00-00-06"/>
        <port id="2" name="s2-eth2" peerMacAddress="00-00-00-00-00-03"/>
        <port id="3" name="s2-eth2" peerMacAddress="c2:05:c5:a6:b9:7f "/>
      </ports>
      <forward>
        <individualAddress port="1" macAddress="00-00-00-00-00-01"/>
        <multicastAddress ports="2" macAddress="01-00-5E-00-00-04"/>
        <multicastAddress ports="1" macAddress="01-00-5E-00-00-05"/>
        <multicastAddress ports="0" macAddress="01-00-5E-00-00-06"/>
      </forward>
    </static>
  </filteringDatabase>

  <filteringDatabase id="switch3">
    <static>
      <ports>
        <port id="0" name="s3-eth0" peerMacAddress="e6:19:89:5c:f5:f5"/>
        <port id="1" name="s3-eth1" peerMacAddress="00-00-00-00-00-07"/>
        <port id="2" name="s3-eth2" peerMacAddress="00-00-00-00-00-08"/>
        <port id="3" name="s3-eth3" peerMacAddress="ae:fd:19:31:0e:6f"/>
      </ports>
      <forward>
        <individualAddress port="1" macAddress="00-00-00-00-00-01"/>
        <multicastAddress ports="1 2" macAddress="01-00-5E-00-00-05"/>
      </forward>
    </static>
  </filteringDatabase>

  <filteringDatabase id="switch4">
    <static>
      <ports>
        <port id="0" name="s4-eth0" peerMacAddress="26:11:3c:13:c5:94"/>
        <port id="1" name="s4-eth1" peerMacAddress="a6:79:c6:16:d6:17"/>
        <port id="2" name="s4-eth2" peerMacAddress="fe:45:1f:94:9d:98"/>
      </ports>
      <forward>
        <individualAddress port="1" macAddress="00-00-00-00-00-01"/>
        <multicastAddress ports="1 2" macAddress="01-00-5E-00-00-04"/>
        <multicastAddress ports="1" macAddress="01-00-5E-00-00-05"/>
      </forward>
    </static>
  </filteringDatabase>
</filteringDatabases>